*{
    padding: 0%;
    margin: 0%;
}
.main{
    width: 100%;
}

#a {
    width: 135px;
    height: 57px;
}
.container{
    color: white;
    text-align: center;
    /* border: 1px solid black; */
}
/* .row{
    border: 1px solid red;
} */
/* .col{
    border: 1px solid grey ;
} */
#c{
    padding-top: 22px;
}
#k{
    width: 119px;
    height: 35px;
    background: white;
    border-radius: 30px;
    border-style: none;
    color: black;
    margin-left: 110px;
    /* margin-bottom: 120px; */

}

#b{
    padding-left: 100px;
    padding-top: 22px;
}
#d{
    text-align: left;
    padding-top: 35vh;
}
#m{
    width: 160px;
    height: 48px;
    top: 531.72px;
    background: #2370C8;
    border-radius: 30px;
    /* margin-left: 107px; */
    border-style: none;
    color: white;
    margin-top: 12px;
}
#e{
    height: 91vh;
}
#f{
    color: #4e4a4a;


}

#g{
    padding-top: 30px;
}
.part1{
    background-image: url(./1.png);
    height: 100vh;
    text-align: center;
    font-family: sans-serif;
}
.part2{
    width: 100%;
    background-image: url(./Rectangle\ 54.png);
    text-align: center;
    font-family: sans-serif;
    height: 50vh;
}
#h{
    width: 100%;
    height: 279px;
}
.part3 h4{
    text-align: center;
    padding-bottom: 35px;
}
#i{
    padding-top: 20px;
}
.form{
    width: 100%;
    height: 54vh;
    text-align: center;
    background-color: black;
    padding-top: 100px;
    margin-top: 74px;
}
#fname{
    padding: 9px 16px 6px 16px;
    border-radius: 20px;
    border-style: none;
    margin-bottom: 8px;
}
.form-head{
    color: white;
}
#set{
    padding: 4px;
    width: 121px;
    border-radius: 31px;
    margin-top: 6px;
    text-transform: uppercase;
    font-family: cursive;
    background-color: darkgray;
}
@media screen and (max-width:1440px) {
    .form{
        height: 55vh;
    }
    
}
@media screen and (max-width:1024px) {
    .form{
        height: 60vh;
    }
    
}
@media screen and (max-width:768px) {
   #gh{
    display: flex;
    flex-direction: column;
   }
    
}
